<% if current_user %>
  <h1>User Profile</h1>
  <p>
    <strong>Name:</strong>
    <%= current_user.name %>
  </p>
  <p>
    <strong>Provider:</strong>
    <%= current_user.provider %>
  </p>
  <p>
    <strong>FB UID:</strong>
    <%= current_user.uid %>
  </p>.
  <p>
    <ul>
      <% @fb_groups.each do |fb_group| %>
          <li>
            <strong>Group Name:</strong>
            <%=fb_group['name']%> 
            <strong>Group id:</strong>
            <%=fb_group['id']%>
          </li>
      <% end %>
    </ul>
  </p>
  <p><%=@pg_feeds.inspect%></p>
   <p>
    <ul>
      <% @pg_feeds.each do |fb_group_feeds| %>
          <li>
            <strong>Posted By:</strong>
            <%=fb_group_feeds['from']['name']%> 
            <strong>in</strong>
            <%=fb_group_feeds['to']['data'].fetch(0,'could not find group name')['name']%>
            <strong>Post</strong>
            <%=fb_group_feeds['message']%>
          </li>
      <% end %>
    </ul>
  </p>
  <p><%= link_to "Log out", logout_path %></p>
<% else %>

  <h1>Use below Link to Sign In Agian</h1>

  <p><strong>Sign in through one of these services:</strong></p>

  <div class="auth_providers">
  
    <a href="/auth/facebook" class="auth_provider">
      <%= image_tag "facebook_64.png", size: "64x64", alt: "Facebook" %>
    </a>
  
  </div>
  
<% end %>
